<link rel="stylesheet" href="/dashboard/components/bigsquareboxes2/bigsquareboxes2.css">
<div id="bodyyy">
    <div id="recent">
        <i class="material-symbols-rounded" id="round">trending_up</i>
        <p class="para">Quick Actions</p>
    </div>
    <div class="listsss">
        <div id="list">
            <div class="box">
                <i class="material-symbols-rounded">select_check_box</i>
            </div>
            <div>
                <h3>Create New Task</h3>
                <p>Add a task to your list</p>
            </div>
        </div>

        <div id="list">
            <div class="box">
                <i class="material-symbols-rounded">attach_money</i>
            </div>
            <div>
                <h3>Create New Task</h3>
                <p>Record a new expense</p>
            </div>
        </div>

        <div id="list">
            <div class="box">
                <i class="material-symbols-rounded">note</i>
            </div>
            <div>
                <h3>Write Note</h3>
                <p>Track</p>
            </div>
        </div>
    </div>
</div>