#header {
    display: flex;
    gap: 8px;
}
.header-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-icon {
  width: 37px;
  height: 37px;
  background-color: #2956fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header-text h3 {
    margin-bottom: 0;
}
.header-text p {
    margin-top: 0;
}