.dashboard-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}
.dashboard-wrapper__left {
    width: 20%;
    background-color: #ffffff;
    height: 100%;
    transition: width 0.3s ease;
}

.dashboard-wrapper__content{
    width: 80%;
    background-color: #f9f9fb;
    height: 100%;
}

.dashboard-wrapper__left .collapsed {
    width: 80px;
}

